@import url(https://fonts.googleapis.com/css?family=Crete+Round);

/*
Olive: #8d9e2b
Dark Gray: #4f4f4f
Light Gray: #d7d7d7
Black: #1e1e1e
*/

/* GENERAL STYLES */
body {
    font-family: 'Roboto', serif;
    color: #1e1e1e;
    overflow-x: hidden;
}

h1 {
    font-family: 'Crete Round', serif;
    color: #8d9e2b;
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    font-family: 'Crete Round', serif;
    color: #4f4f4f;
    font-size: 2em;
}

h3 {
    font-family: 'Crete Round', serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
}

h5 {
    font-size: 1.5em;
    line-height: 1.6em;
}

h6 {
    font-size: 1.26em;
    line-height: 1.2em;
    color: #d7d7d7;
    margin: auto 0 30px;
}

a {
    color: #4f4f4f;
    text-decoration: underline;
    letter-spacing: 0.8px;
}

a:hover{
    color: #8d9e2b;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section:nth-child(even) {
    background: #ffffff;
    color: #4f4f4f;
}

section:nth-child(odd) {
    background: #4f4f4f;
    color: #ffffff;
}

.modal {
    background-color: #ffffff;
}

strong {
    letter-spacing: 0.6px;
}

.olive {
    color: #8d9e2b;
}

.leftText {
    text-align: left;
}

/* NAV */
.navbar-fixed {
    height: 50px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

nav {
    line-height: 50px;
    background: #1e1e1e;
}

nav a{
    text-decoration: none;
}

ul.navHeaderUl {
    display: inline-block;
    height: inherit;
}

ul.navHeaderUl li, ul.right li {
    display: inline-block;
    height: inherit;
}

#navHeader {
    height: inherit;
    padding-right: 0;
}

ul.right.hide-on-med-and-down li a {
    font-size: .85em;
    position: relative;
    text-decoration: none;
}

ul.right.hide-on-med-and-down li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 25%;
    left: 0;
    background-color: #8d9e2b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

ul.right.hide-on-med-and-down li a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav a.button-collapse {
    height: 50px;
    line-height: 50px;
    float: right;
    cursor: pointer;
}

nav .button-collapse i {
    font-size: 1.8em;
    padding: 0 15px 0 0;
}

.logo {
    height: 70%;
    vertical-align: middle;
}
/* Side Bar Navigation */
div.sideBar {
    position: fixed;
    display: block;
    top: 50px;
    bottom: 0;
    right: -401px;
    width: 275px;
    background-color: #ffffff;
    z-index: 500;
    -webkit-transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    transition:right 0.3s linear;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

div.sideBar.visible {
    right: 0;
    -webkit-transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    transition:right 0.3s linear;
}

div.sideBar h2 {
    text-align: center;
    font-size: 1.8em;
    padding-top: 20px;
    color: #8d9e2b;
}

div.sideBar ul li {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

div.sideBar ul li a {
    color: #4f4f4f;
    text-decoration: none;
    font-size: 1.15em;
    line-height: 30px;
    padding-bottom: 5px;
    position: relative;
}

div.sideBar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8d9e2b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

div.sideBar ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Carousel */
.carousel {
    padding: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

#carouselColumn {
    height: inherit;
}

div.carouselIndicatorsContainer {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

ul.carouselIndicatorsUL {
    margin: 0;
    width: inherit;
    height: 17px;
    display: block;
    text-align: center;
    margin-top: 18px;
}

li.carouselIndicators {
    display: inline-block;
    margin-left: 15px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    top: 25px;
}

img.responsive-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -5;
}

#img1 {
    top: -60px;
}
#img2 {
    top: -150px;
}
#img3 {
    top: -65px;
}
#img4 {
    top: -55px;
}

div.carouselNavigation {
    position: absolute;
}

i.fa.fa-circle-thin, i.fa.fa-angle-left, i.fa.fa-angle-right{
    position: absolute;
    font-size: 3.5em;
    color: inherit;
}

i.fa.fa-angle-left.arrowLeft {
    left: 11px;
    font-size: 3.3em;
}

i.fa.fa-angle-right.arrowRight {
    right: 16px;
    font-size: 3.3em;
}

div.leftNav {
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    left: 25px;
}

div.rightNav {
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    right: 25px;
}

div.leftNav:hover,div.rightNav:hover{
    color: #d7d7d7;
    cursor: pointer;
}

div.slider-container {
    width: 100%;
    overflow: hidden;
    z-index: 0;
    display: block;
}

ul.slides {
    margin: 0;
    display: block;
    width: 5120px;
}

li.slide {
    list-style-type: none;
    float:left;
    height: inherit;
}

.slider .slides li {
    opacity: 1;
    height: auto;
    width: 100%;
    float: left;
    list-style-type: none;
}

.disableClick {
    pointer-events: none;
}

/* BUTTONS */
.btn-primary {
    text-decoration: none;
    color: #ffffff;
    background-color: #8d9e2b;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 50px;
    border: none;
    border-radius: 7px;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1.4em;
    border: 1px solid #8d9e2b;
    margin: 15px;
}

.btn-primary:hover{
    background: none;
}

.btn-primary:active{
    top: 1px;
}

.btn-secondary {
    text-decoration: none;
    color: #4f4f4f;
    background-color: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 50px;
    border: 2px solid #4f4f4f;
    border-radius: 7px;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 15px;
}

.btn-secondary:hover{
    background-color: #4f4f4f;
    color: #ffffff;
}

.btn-secondary:active{
    top: 1px;
}

.btn-tertiary {
    text-decoration: none;
    color: #ffffff;
    background-color: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 45px;
    border: 2px solid #ffffff;
    border-radius: 7px;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 30px auto 10px;
}

.btn-tertiary:hover{
    background-color: #ffffff;
    color: #8d9e2b;
}

.btn-tertiary:active{
    top: 1px;
}

.btn-square {
    text-decoration: none;
    color: #fff;
    background-color: #8d9e2b;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 160px;
    width: 80%;
    border-radius: 7px;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 20px auto;
    border: 1px solid #8d9e2b;
}

.btn-square:hover {
    background: none;
}

.btn-square .fa {
    margin-bottom: 10px;
}

/* HOME */
section.panel.home {
    text-align: center;
}

.main-logo {
    max-width: 80%;
    margin: 30px auto;
}

/* ABOUT */
.goals ul li{
    list-style-type: circle;
    margin-left: 60px;
    margin-bottom: 20px;
    line-height: 150%;
}

.about-list li {
    margin: auto auto 20px 20px;
    line-height: 160%;
    font-size: .92em;
}

.description{
    font-size: .92em;
    margin: 30px auto 20px;
}

.aboutDesc {
    font-size: .92em;
}

/* SPONSORS */
.become-sponsor {
    background: url(../media/WJI_20151108_0136.jpg) no-repeat center top ;
    height: 260px;
    max-width: 1020px;
    text-align: center;
}

.become-sponsor p, .become-sponsor h2 {
    color: #ffffff;
}

.sponsor-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.sponsorContainer {
    text-align: center;
}

.spon-img {
    margin: 20px 50px 50px;
    max-width: 300px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}

.spon-img:hover{
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

/* FAQ*/
.faq-button-container {
    text-align: center;
}

.faq-content-container {
    height: auto;
    width: 100%;
    border: 1px solid #d7d7d7;
    margin-top: 20px;
    padding: 10px 20px 0 20px;
}

.btn-faq-primary {
    text-decoration: none;
    color: #fff;
    background-color: #8d9e2b;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 48px;
    width: 240px;
    line-height: 48px;
    border: none;
    border-radius: 7px;
    padding: 0 2rem;
    font-size: 1.2em;
    border: 1px solid #8d9e2b;
    display: inline-block;
}

.btn-faq-primary:hover {
    background: none;
}

.btn-faq-secondary {
    text-decoration: none;
    color: black;
    background-color: #d7d7d7;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    height: 48px;
    width: 240px;
    line-height: 48px;
    border: none;
    border-radius: 7px;
    padding: 0 2rem;
    font-size: 1.2em;
    border: 1px solid #d7d7d7;
    display: inline-block;
}

.btn-faq-secondary:hover {
    background: none;
}

#faq1 {
    float: left;
}

#faq3 {
    float: right;
}

.faqBlurb {
    text-align: center;
}

.question {
    cursor: pointer;
    margin: 0 0 12px 0;
}

.question:hover {
    color: #8d9e2b;
}

.selectedQuestion {
    color: #8d9e2b;
}

.answer {
    margin: 5px 0 0 15px;
    display: inline;
    font-family: 'Roboto', serif;
    color: #ffffff;
    font-size: .8em;
}

i.fa.fa-caret-right {
    margin: 0 0 14px 15px;
    color: #8d9e2b;
    font-size: 1.2em;
}

/* RESOURCES */
.resources {
    background: url(../media/WJI_20151107_0630.jpg) no-repeat scroll center center !important;
    width: 100%;
    padding: 0;
}

.resources-overlay{
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.resources ul{
    line-height: 40px;
}

/* FOOTER */
footer {
    background: #d7d7d7;
    margin: 0 auto;
    min-height: 80px;
}

footer .row {
    margin: 0 auto;
}

.page-footer {
    display: table;
    width: 100%;
    min-height: 80px;
    height: 100%;
    padding: 20px 0;
}

.clearfix {
    overflow: hidden;
}

footer a {
    color: #8d9e2b;
}

footer .left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    float: none !important;
}

footer .right{
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    float: none !important;
}

footer .mid {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: none !important;
}

.social {
    margin: auto 20px;
    /*
    padding: 2px 6px;
    border: 1px solid #4f4f4f;
    */
}

.mid a {
    color: #4f4f4f;
}

.mid a:hover {
    color: #8d9e2b;
}

.copy {
    font-size: 0.85em;
    line-height: 0.85em;
}

.contact {
    background: #8d9e2b;
}

.contact a:hover {
    color: #ffffff;
}

.row .eachContact.col {
    padding: 20px 0.75rem 0;
}

/* Modals */
div.modal-content.contact {
    text-align: center;
}


/* Media Queries */
/* Mobile */
@media only screen and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
        .btn-tertiary {
            width: 100%;
        }

        .btn-square {
            padding: 2em 1em;
            height: 100%;
            width: 100%;
        }

        .become-sponsor {
            height: 100%;
        }

        .goals ul li {
            margin-left: 40px;
        }

        .spon-img {
            max-width: 100%;
            margin: 30px 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .page-footer, footer .left, footer .mid, footer .right {
            display: block;
            text-align: center;
        }

        footer .left {
            margin-bottom: 20px;
        }

        footer .right {
            margin-top: 20px;
        }
}
/* Resizes carousel images */
@media screen and (max-width: 1600px) {
    #img1 {
        top: -50px;   
    }
    #img2 {
        top: -140px;   
    }
    #img3 {
        top: -35px;   
    }
    #img4 {
        top: -45px;   
    }
}
/* Resizes carousel images */
@media screen and (max-width: 1330px) {
    #img1 {
        top: -20px;   
    }
    #img2 {
        top: -60px;   
    }
    #img3 {
        top: -15px;   
    }
    #img4 {
        top: -20px;   
    }
}
/* Resizes carousel images */
@media screen and (max-width: 1046px) {
    .btn-faq-primary, .btn-faq-secondary {
        width: 220px;
    }
}
@media screen and (max-width: 865px) {
    #img1 {
        top: 0;   
    }
    #img2 {
        top: 0;   
    }
    #img3 {
        top: 0;   
    }
    #img4 {
        top: 0;   
    }
}
/* Moves FAQ button to the left */
@media screen and (max-width: 800px) {
    .btn-faq-primary, .btn-faq-secondary {
        display: block;
        width: 100%;
    }
    #faq1 {
        float: none;
        margin: 0 auto 10px auto;
    }
    #faq2 {
        margin: 0 auto 10px auto;
    }
    #faq3 {
        float: none;
        margin: 0 auto 0 auto;
    }
}
/* Resizes Carousel Navigation */
@media screen and (max-width: 723px) {
    .carousel {
        height: inherit;
    }
    i.fa.fa-circle-thin{
        font-size: 3em;
    }
    i.fa.fa-angle-left.arrowLeft {
        font-size: 2.7em;
        left: 9px;
    }
    i.fa.fa-angle-right.arrowRight {
        font-size: 2.7em;
        right: 11px;
    }
    div.leftNav, div.rightNav {
        width: 38px;
        height: 40px;
    }
    li.carouselIndicators {
        width: 10px;
        height: 10px;
    }
}
/* Hides the navName in Navigation Bar*/
@media screen and (max-width: 430px) {
    #navName {
        display: none;
    }
    h1 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.1em;
    }
}
/* Resizes Carousel Navigation */
@media screen and (max-width: 375px) {
    i.fa.fa-circle-thin{
        font-size: 2em;
    }
    i.fa.fa-angle-left.arrowLeft {
        font-size: 1.5em;
        left: 7px;
        top: 2px;
    }
    i.fa.fa-angle-right.arrowRight {
        font-size: 1.5em;
        right: 7px;
        top: 2px;
    }
    div.leftNav, div.rightNav {
        width: 24px;
        height: 28px;
    }
}
/* Positions the mobile navigation symbol */
@media only screen and (min-width: 0px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

/* OTHERS */
.block {
    display: block !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.something-semantic {
    background: green;
    display: table;
    width: 100%;
    height: 400px;
}
.something-else-semantic {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none !important;
}